/* universal */
* {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

h1 {
  padding-left: 15px;
}

p {
  padding-left: 15px;
}

/* classes */
.card {
  min-width: 300px;
  background-color: rgb(90, 94, 110);
  margin: 20px;
  padding-left: 10px;
  color: white;
  border-radius: 1.25rem;
}

.city-name {
  font-weight: bold;
}

.forecast {
  height: 50vh;
  display: flex;
  flex-direction: row;
}

.forecast-head {
  padding: 5px;
}

.hide {
  display: none;
}

.history-btn {
  margin-top: 10px;
  width: 97%;
  height: 45px;
  border-radius: 5px;
  border-width: 0px;
  font-size: large;
  color: rgb(0, 0, 0);
  background-color: rgb(151, 151, 151);
}

.line {
  width: 95%;
  text-align: left;
  margin-left: 0;
}

.main-results {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 79%;
}

.nav {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: white;
  background: linear-gradient(
    0.25turn,
    rgb(102, 102, 175),
    rgb(60, 60, 160),
    rgb(77, 0, 128)
  );
  margin-top: -15px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 15px;
  padding: 15px;
}

.search-bar {
  width: 95%;
  height: 45px;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  font-size: large;
}

.search-btn {
  margin-top: 10px;
  width: 97%;
  height: 45px;
  border-radius: 5px;
  border-width: 0px;
  font-size: large;
  color: white;
  background-color: rgb(120, 152, 248);
}

.search-card {
  width: 20%;
  height: 100vh;
}

.search-results {
  border: solid 1px;

  height: 50vh;
}

/* media query */
@media screen and (max-width: 910px) {
  main {
    flex-direction: column;
  }
}
